textarea {
  min-height: 50vh !important;
  max-width: 45vw;
  min-width: 20vw;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize: both;
}

textarea:focus,
input:focus {
  outline: none;
}

#preview {
  padding: 5px;
  background-color: rgb(253, 253, 253);
}
